In [27]:
# import comet_ml in the top of your file
from comet_ml import Experiment
    
# Add the following code anywhere in your machine learning file
experiment = Experiment(api_key="PMwZ0xHG0cFfBVFqGjGvFc6P9",
                        project_name="general", workspace="watanta")

COMET INFO: Experiment is live on comet.ml https://www.comet.ml/watanta/general/20a6395f12094046a2ea781ed4c798b7

COMET INFO: Experiment is live on comet.ml https://www.comet.ml/watanta/general/ec3ca76d12d44dd2abc02544bda6d7e0

In [28]:
import pandas as pd
import lightgbm as gbm
from lightgbm.sklearn import LGBMClassifier

In [29]:
train = pd.read_csv("../feature/train_feature.csv")
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null int64
Fare           891 non-null int64
Embarked       891 non-null int64
Title          891 non-null int64
IsAlone        891 non-null int64
Age*Class      891 non-null int64
dtypes: int64(10)
memory usage: 69.7 KB

,PassengerId,Survived,Pclass,Sex,Age,Fare,Embarked,Title,IsAlone,Age*Class
0,1,0,3,0,1,0,0,1,0,3
1,2,1,1,1,2,3,1,3,0,2
2,3,1,3,1,1,1,0,2,1,3
3,4,1,1,1,2,3,0,3,0,2
4,5,0,3,0,2,1,0,1,1,6

In [ ]:
train, test =

In [30]:
target = train["Survived"]
train = train.drop("Survived",axis=1)
train.head()

   PassengerId  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0            1       3    0    1     0         0      1        0          3
1            2       1    1    2     3         1      3        0          2
2            3       3    1    1     1         0      2        1          3
3            4       1    1    2     3         0      3        0          2
4            5       3    0    2     1         0      1        1          6

In [32]:
model = gbm.LGBMClassifier()

In [33]:
train_X = train
train_Y = target

In [ ]:
test_X =

In [34]:
model.fit(train_X,train_Y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        importance_type='split', learning_rate=0.1, max_depth=-1,
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
        random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [35]:
predict = model.predict(test_X)

NameError: name 'test_X' is not defined